* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner {
    max-width: 300px;
    border: 1px solid rgb(121, 115, 115);
    box-shadow: 1px 1px 10px black;
    margin: 5px auto;
   
    
    
}
/*Сарлавха */
.header {
    background-color: rgb(165, 227, 255);
    padding: 10px;
    text-align: center;
}
.header h2 {
    margin: 5px 5px 1px 5px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
.header p {
    margin: 1px 5px 20px 5px;
    font-size: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/*Кисми китобхо*/
#list {
    width:100% ;
    background-color: rgb(206, 206, 206);
   
}
#list ul {
    list-style: none;
    padding:10px ;
    text-align: left;
    
    text-decoration: none;
    
}
#list h3 {
    text-align: center;
    color: #0024f1;
}
.add {
  padding: 10px; 
  
  
}
#list ul li  {
    text-decoration: none;
    border: solid teal  1px;
    background-color: aliceblue;
    margin-top: 10px;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    display: flex; 
    border-left: 10px  teal solid ;
    border-radius: 3px;
    transition: 1s;
}
#list ul li .delete  {
    background-color: teal;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    padding: 5px;
    width: 70px;
    transition: 1s;
}
#list ul :hover {
    border-left-color:  rgb(165, 227, 255);
    
}

#list ul li .delete:hover {
    background-color:rgb(165, 227, 255) ;
    
}
.add {
    padding: 10px;
    top: 5px ;
    position: relative;
}